@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');

body {
  background-color: black;
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Alkalami', serif;
 
}

code {

}

a{
  text-decoration: none !important;
}